@media screen and (min-width: 377px) and (max-width: 1023px)
{
	.logo
	{
		width: 200px;
		height: auto;
	}
	
	body
	{
		width: 100%;
		margin: 0;
		font-size: 2em;
	}
	
	header
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
		
	.nav
	{
		display: flex;
		justify-content: flex-end;
	}

	.nav1
	{
		display: flex;
		justify-content: space-between;
		margin-right: 50px;
		font-size: 0.7em;
	}

	.nav2
	{
		font-size: 0.7em;
	}
	
	.menu
	{
		margin-right: 50px;
	}
	
	.bouton
	{
		width: 100%;
	}
	
	.bouton i
	{
	background-color: #F2F2F2;
	color: black;
	border-radius: 10px 0 0 10px;
	display: inline-block;
	height: 70px;   
	width: 18px;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	padding: 0;
	}
	
	button
	{
		background-color: #0065FC;
		color: white;
		border-radius: 0 10px 10px 0;
		height: 70px;
		width: 100px;
		font-size: 0.6em;
	}

	input
	{
		height: 70px;
		width: 50%;
		margin-left: 50px;
		border: 0.5px solid #F2F2F2;
	}


	#conteneur
	{
		display: flex;
		flex-direction: column-reverse;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	
	.titre
	{
		line-height: 2rem;
		font-size: 1em;
		margin-left: 30px;
	}
	
	.sous-titre
	{
		font-size: 0.7em;
		margin-left: 30px;
	}
	
	.logements
	{
		font-size: 0.5em;
	}
	
	ul
	{
		font-size: 0.7em;
		display: flex;
		flex-wrap: wrap;
	}
	

	.filtre
	{
		width: 100px;
	}
	
	.img2
	{
		width: 45%;
		height: 250px;
		border-radius: 50px 0 0 50px;
		float: left;
		object-fit: cover;
	}

	.img1
	{
		width: 100%;
		height: 140px;
		border-radius: 50px 50px 0 0;
	}

	.img3
	{
		width: 100%;
		height: 160px;
		object-fit: cover;
		border-radius: 50px 50px 0 0;
	}

	.img4
	{
		width: 100%;
		height: 160px;
		object-fit: cover;
		border-radius: 50px 50px 0 0;
	}

	.img5
	{
		width: 100%;
		height: 160px;
		object-fit: cover;
		border-radius: 50px 50px 0 0;
	}

	.img6
	{
		width: 100%;
		height: 160px;
		object-fit: cover;
		border-radius: 50px 50px 0 0;
	}

	.img7
	{
		width: 100%;
		height: 160px;
		object-fit: cover;
		border-radius: 50px 50px 0 0;
	}
	
	.populaires
	{
		width: 100%;
		border: 1px solid #F2F2F2;
		background-color: #F2F2F2;
		margin: 0;
		padding: 10px 0 10px 0px;
		border-radius: 0 0 0 0;
	}
	
	.Populaire
	{
		display: flex;
	}
	
	h3
	{
		font-size: 1em;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.popu
	{
		font-size: 0.5em;
		height: 250px;
		width: 30%;
		border-radius: 50px;
		margin-left: 15px;
	}
	
	.hébergement
	{
		width: 33%;
		height: 250px;
		font-size: 0.5em;
		line-height: 1.5rem;
		border-radius: 50px;
		cursor: pointer;
	}
	
	.Héberge
	{
		background-color: white;
		border: 1px solid white;
		border-radius: 50px;
		width: 100%;
		height: auto;
		margin: 0;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.aff
	{
		font-size: 0.8em;
		padding-left: 22px;
	}
	
	.texte
	{
		margin-top: 20px;
		font-size: 1.5em;
	}
	
	.Activité
	{
	margin-left: 10px;
	}
	
	.activ
	{
		display: flex;
		flex-wrap: wrap;
		height: auto;
		padding: 25px 5px 25px 5px;
		margin: 0;
	}

	.activ1
	{
		display: flex;
	}

	.activ2
	{
		display: flex;
	}

	.activité1
	{
		border: 1px solid white;
		background-color: white;
		margin: 20px;
		overflow: hidden;
		border-radius: 50px;
		width: 30%;
		height: 250px;
		line-height: 1.5rem;
		font-size: 0.5em;
		box-shadow: 1px 1px 12px #D9D9D9;
		margin-left: 40px;
	}

	.activité2
	{
		border: 1px solid white;
		background-color: white;
		border-radius: 50px;
		width: 60%;
		height: auto;
		display: flex;
		}

	.activité21
	{
		border: 1px solid white;
		background-color: white;
		margin: 20px;
		overflow: hidden;
		border-radius: 50px;
		width: 100%;
		height: 250px;
		line-height: 1.5rem;
		font-size: 0.5em;
		box-shadow: 1px 1px 12px #D9D9D9;
	}

	.activité22
	{
		border: 1px solid white;
		background-color: white;
		margin: 20px;
		overflow: hidden;
		border-radius: 50px;
		width: 100%;
		height: 250px;
		line-height: 1.5rem;
		font-size: 0.5em;
		box-shadow: 1px 1px 12px #D9D9D9;
	}

	.activité3
	{
		border: 1px solid white;
		background-color: white;
		margin: 20px;
		overflow: hidden;
		border-radius: 50px;
		width: 30%;
		height: 250px;
		line-height: 1.5rem;
		font-size: 0.5em;
		box-shadow: 1px 1px 12px #D9D9D9;
		margin-left: 40px;
	}

	.activité4
	{
		border: 1px solid white;
		background-color: white;
		border-radius: 50px;
		width: 60%;
		height: auto;
		display: flex;
		
	}

	.activité41
	{
		border: 1px solid white;
		background-color: white;
		margin: 20px;
		overflow: hidden;
		border-radius: 50px;
		width: 100%;
		height: 250px;
		line-height: 1.5rem;
		font-size: 0.5em;
		box-shadow: 1px 1px 12px #D9D9D9;
	}

	.activité42
	{
		border: 1px solid white;
		background-color: white;
		margin: 20px;
		overflow: hidden;
		border-radius: 50px;
		width: 100%;
		height: 250px;
		line-height: 1.5rem;
		font-size: 0.5em;
		box-shadow: 1px 1px 12px #D9D9D9;
	}

	footer
	{
		display: flex;
		flex-direction: column;
		font-size: 0.8em;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	.element:nth-child(1)
	{
		width: 80%;
		margin: 0;
		padding-left: 25px;
		line-height: 3rem;
	}
	
	.element:nth-child(2)
	{
		width: 80%;
		margin: 0;
		padding-left: 25px;
		line-height: 3rem;
	}	
	
	.element:nth-child(3)
	{
		width: 80%;
		margin: 0;
		padding-left: 25px;
		line-height: 3rem;
	}

}
