@font-face
{
    font-family: 'Raleway', sans-serif;
    src: url('fonts/Raleway-Medium.ttf');
    src: url('fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'Raleway', sans-serif;
}

.menu
{
	color: #0065FC;
	margin-right: 50px;
}

.activités
{
	color: black;
}

.logo
{
	width: 85px;
	height: auto;
}

header
{
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	justify-content: space-between;
}

.nav
{
	display: flex;
	justify-content: flex-end;
	border: 1px solid white;
	width: 100%;
	margin-top: 0px;
	font-size: 1em;
}

.nav1
{
	display: flex;
	justify-content: space-between;
	margin-right: 50px;
	font-size: 1em;
}

.nav2
{
	font-size: 1em;
}

.titre
{
	line-height: 10px;
	margin-left: 50px;
	font-size: 1.2em;
}

.sous-titre
{
	font-size: 0.80em;
	margin-left: 50px;
}

button
{
	background-color: #0065FC;
	color: white;
	border-radius: 0 10px 10px 0;
	height: 35px;
	width: 100px;
}

input
{
	height: 35px;
	width: 180px;
	margin-left: 50px;
	border: 0.5px solid #F2F2F2;
}

ul
{
	border: 1px solid white;
	background-color: white;
	display: flex;
	list-style-type: none;
}

li
{
	font-size: 0.9em;
	border: 2px solid #D9D9D9;
	border-radius: 40px;
	padding: 10px;
	margin: 10px;
}

.filtres:hover
{
	background-color: #DEEBFF;
}

.filtre
{
	border: 1px solid white;
	border-radius: 20px 20px 20px 20px;
	margin-left: 0;
}

.logements
{
	font-size: 0.80em;
	margin-left: 50px;
}

.img1
{
	width: 100%;
	height: 120px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.img2
{
	width: 170px;
	height: 140px;
	border-radius: 20px 0 0 20px;
	float: left;
	margin: 0 20px 0 0;
	object-fit: cover;
}

.img3
{
	width: 100%;
	height: 90%;
	object-fit: cover;
}

.img4
{
	width: 100%;
	height: 83%;
	object-fit: cover;
}

.img5
{
	width: 100%;
	height: 70%;
	object-fit: cover;
}

.img6
{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.img7
{
	width: 100%;
	height: 79%;
	object-fit: cover;
}

#conteneur
{
	display: flex;
	margin-left: 40px;
	margin-right: 40px;
}

.Héberge
{
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	margin: 10px;
	padding: 15px 20px 10px 20px;
	border-radius: 20px;
	width: 66%;
}

.hébergement
{
	border: 1px solid white;
	background-color: white;
	padding: 2px 2px 3px 2px;
	margin: 10px;
	overflow: hidden;
	border-radius: 20px;
	width: 33%;
	line-height: 1.5rem;
	box-shadow: 1px 1px 12px #D9D9D9;
}

#héberge1
{
	display: flex;
	margin: 5px 5px 5px 0;
}

#héberge2
{
	display: flex;
	margin: 5px 5px 5px 0;
}

.aff
{
	margin: 25px 0 0 15px;
}

.populaires
{
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	margin: 10px;
	padding: 25px 25px 15px 25px;
	border-radius: 20px;
	width: 33%;
}

.popu
{
	border: 1px solid white;
	background-color: white;
	padding: 2px 2px 3px 2px;
	margin: 25px 10px 25px 10px;
	overflow: hidden;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 1px 1px 12px #D9D9D9;
}

.Activité
{
	margin-left: 50px;
	margin-top: 50px;
	line-height: 0.5rem;
}

.activ
{
	display: flex;
	margin-left: 40px;
	margin-right: 40px;
}

.activité1
{
	border: 1px solid white;
	padding: 0 0 3px 0;
	margin: 10px 10px 0 10px;
	overflow: hidden;
	border-radius: 20px;
	width: 25%;
	box-shadow: 1px 1px 12px #D9D9D9;
}

.activité2
{
	border: 1px solid white;
	background-color: white;
	padding: 2px 2px 0 2px;
	border-radius: 20px;
	width: 25%;
	height: 100%;
}

.activité21
{
	border: 1px solid white;
	padding: 0 0 3px 0;
	margin: 10px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 1px 1px 12px #D9D9D9;
	height: 330px;
}

.activité22
{
	border: 1px solid white;
	padding: 0 0 3px 0;
	margin: 30px 10px 0 10px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 1px 1px 12px #D9D9D9;
	height: 180px;
}

.activité3
{
	border: 1px solid white;
	padding: 0 0 3px 0;
	margin: 10px 10px 0 10px;
	overflow: hidden;
	border-radius: 20px;
	width: 25%;
	box-shadow: 1px 1px 12px #D9D9D9;
}

.activité4
{
	border: 1px solid white;
	background-color: white;
	padding: 2px 2px 0 2px;
	border-radius: 20px;
	width: 25%;
	height: 100%;
}

.activité41
{
	border: 1px solid white;
	padding: 0 0 3px 0;
	margin: 10px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 1px 1px 12px #D9D9D9;
	height: 250px;
}

.activité42
{
	border: 1px solid white;
	padding: 0 0 3px 0;
	margin: 30px 10px 0 10px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 1px 1px 12px #D9D9D9;
	height: 260px;
}

.texte
{
	margin-left: 10px;
}


footer
{
	width: 100%;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	display: flex;
	margin-top: 55px;
	height: auto;
	font-size: 0.80em;
}

.element:nth-child(1)
{
	width: 33%;
	margin: 25px;
	margin-left: 30px;
	line-height: 2rem;
}
.element:nth-child(2)
{
	width: 33%;
	margin: 25px;
	line-height: 2rem;
}	
.element:nth-child(3)
{
	width: 33%;
	margin: 25px;
	line-height: 2rem;
}



